<div class="card">
  <%= link_to image_tag(clothe.image, class: :card__img ), clothe_path(clothe)%>
  <div class="card__body">
    <%= link_to clothe.memo, clothe_path(clothe), class: :card__title%>
    <p class="card__summary">
      <%= clothe.date %>
    </p>
  </div>
</div>