<main class="main">
  <div class="inner">
       <div class="greeting"> 
       </div> 
    <div class="card__wrapper">
    <%= render partial: "clothe", collection: @clothes %>
  </div>
  </div>
</main>