<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
      </p>
      
        <div class="prototype__manage">
          <%= link_to "編集する", edit_clothe_path(@clothe), class: :prototype__btn %>
          <%= link_to "削除する", clothe_path(@clothe), method: :delete, class: :prototype__btn %>
        </div>
      <div class="prototype__image">
        <%= image_tag @clothe.image %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title"></p>
          <p class="detail__message">
            <%= @clothe.memo %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title"></p>
          <p class="detail__message">
          </p>
        </div>
      </div>
      <div class="prototype__comments">
            <div class="field">
            </div>
            <div class="actions">
            </div>
        <ul class="comments_lists">
            <li class="comments_list">
            </li>
        </ul>
      </div>
    </div>
  </div>
</main>
